# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# IDE
.vscode/
.idea/
*.swp

# OS
Thumbs.db
.DS_Store

# Project
logs/
*.log
data/*.db
data/*.sqlite
docs/diagrams/*.drawio.bkp
*.db
*.db-shm
*.db-wal
*.docx

# Pytest
.pytest_cache/
.coverage
htmlcov/
